html, body {
  background-color: lightgray;
  text-align: center;


}

table {

  text-align: center;
  font-size: 40px;
  color:grey;
  table-layout: fixed;
}

td {
  border: 3px solid grey;
  border-radius: 25px;
  table-layout: fixed;
  width: 100px;
  height: 100px;
}

#choices {
  position:relative;
  top: 50px;
  left: -350px;


}

#hideBoard {
position:relative;
  top: -300px;
  left: 500px;
}

#showBoard {
position:relative;
  top: -250px;
  left: 410px;
}

#startRefreshB {
position:relative;
  top: -200px;
  left: 315px;
}

#stopRefreshB {
position:relative;
  top: -150px;
  left: 217px;
}

#buttonX {
  background-color: white;
  border-radius: 12px;
  visibility: visible;
  padding: 16px 16px;
  position:relative;
  top: -430px;
  left: -300px;
  right: -420px;
  bottom: -191px;
}
#buttonX:hover {
  background-color: #ffa814;
}
#buttonO {
  background-color: white;
  border-radius: 12px;
  visibility: visible;
  padding: 16px 16px;
  position:relative;
  top: -330px;
  left: -397px;
  right: -420px;
  bottom: -191px;
}
#buttonO:hover {
  background-color: #ffa814;
}


td:hover {background-color: #ffa814;}



#AlertX{
  border-radius: 12px;
  background-color: #5ad4fc;
  color: white;
  text-align: center;
}
#AlertO{
  border-radius: 12px;
  background-color: #5ad4fc;
  color: white;
  text-align: center;
}
